@font-face {
    font-family: 'LeBonCoin';
    font-style: normal;
    font-weight: normal;
    src: url('../src/leboncoin.woff') format('woff');
}

body {
    margin: 0;
}


/* <!--- Top Barre Website ---> */

#logo {
    font-family: LeBonCoin;
    font-size: 250%;
    padding-left: 1%;
    color: rgb(255, 110, 20);
    margin: 0;
    text-decoration: none;
}

#banner {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 4px 0 rgb(26 26 26 / 8%), 0 4px 8px 0 rgb(26 26 26 / 12%);
}

#sui {
    font-family: LeBonCoin;
    position: absolute;
    text-decoration: none;
    right: 1%;
    float: right;
    font-size: 150%;
    color: rgb(255, 110, 20);
}

#pp {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 50%;
}

#account {
    font-family: LeBonCoin;
    position: absolute;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    float: right;
    font-size: 150%;
    height: 60px;
    color: rgb(255, 110, 20);
    right: 0;
    transform: translateX(-40px);
}

#findcreate {
    width: auto;
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#findcreate #search {
    align-items: center;
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    width: 300px;
    text-decoration: none;
}

#findcreate svg {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 7%;
    fill: rgba(0, 0, 0, 0.5);
}

#findcreate p {
    margin-left: 4%;
    color: rgba(0, 0, 0, 0.5);
}

#findcreate button {
    text-decoration: none;
    border: 0;
    margin: 0.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: rgb(255, 110, 20);
}


/* <!--- Top Barre Website ---> */

#boxsui {
    border-radius: 8px;
    box-shadow: 0 -1px 10px 0 rgb(26 26 26 / 8%), 0 10px 20px 0 rgb(26 26 26 / 12%);
    background-color: white;
    width: 80%;
    max-width: 60.5em;
    /*height: 55%;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#boxsui {
    padding: 1.5%;
}

#boxsui input,
#boxsui select {
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    border: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    height: 40px;
    padding: 0;
}

#boxsui button {
    background-color: rgb(65, 131, 215);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    height: 40px;
    padding: 0;
}

#boxsui label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    margin: 0;
}

#boxsui hr {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgba(0, 0, 0, 0.30);
    border-radius: 3%;
    border: unset;
    border-top: 2px solid;
}

#first *,
#second * {
    display: inline;
}

#first button,
#first select {
    width: 20%;
}

#first input {
    width: 59%;
}

#second {
    margin-top: 1.5%;
}

#second #selector {
    width: 10%;
}

#second #amont {
    width: 20%;
}

#second #category {
    width: 48.5%;
}

#second #city {
    width: 20%;
}

#searchbanner {
    display: flex;
    align-items: center;
    top: 60px;
    /*bottom: 0;*/
    position: absolute;
    width: 100%;
    background-image: url("../src/fond.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 400px;
    background-size: 1400px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.50);
}

#info {
    top: 460px;
    position: absolute;
    width: 100%;
    padding-bottom: 40px;
}

.sb {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    border: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
}

h2 {
    font-weight: bold;
}

.sui {
    font-family: LeBonCoin;
    text-decoration: none;
    font-size: 100%;
    color: rgb(255, 110, 20);
}

.forgot {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}

.pp {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 5px;
}

.account {
    font-family: LeBonCoin;
    align-items: center;
    text-decoration: none;
    font-size: 100%;
    height: 40px;
    color: rgb(255, 110, 20);
    transform: translateX(-40px);
}

.button {
    text-decoration: none;
    border: 0;
    margin: 0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: rgb(255, 110, 20);
}