@font-face {
    font-family: 'LeBonCoin';
    font-style: normal;
    font-weight: normal;
    src: url('../src/leboncoin.woff') format('woff');
}

body {
    margin: 0;
}


/* <!--- Top Barre Website ---> */

#logo {
    font-family: LeBonCoin;
    font-size: 250%;
    padding-left: 1%;
    color: rgb(255, 110, 20);
    margin: 0;
    text-decoration: none;
}

#banner {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 4px 0 rgb(26 26 26 / 8%), 0 4px 8px 0 rgb(26 26 26 / 12%);
}

#sui {
    font-family: LeBonCoin;
    position: absolute;
    text-decoration: none;
    right: 1%;
    float: right;
    font-size: 150%;
    color: rgb(255, 110, 20);
}

#pp {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 50%;
}

#account {
    font-family: LeBonCoin;
    position: absolute;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    float: right;
    font-size: 150%;
    height: 60px;
    color: rgb(255, 110, 20);
    right: 0;
    transform: translateX(-40px);
}

#findcreate {
    width: auto;
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#findcreate #search {
    align-items: center;
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    width: 300px;
    text-decoration: none;
}

#findcreate svg {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 7%;
    fill: rgba(0, 0, 0, 0.5);
}

#findcreate p {
    margin-left: 4%;
    color: rgba(0, 0, 0, 0.5);
}

#findcreate button {
    text-decoration: none;
    border: 0;
    margin: 0.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 10px;
    background-color: rgb(255, 110, 20);
}


/* <!--- Top Barre Website ---> */

#boxsui {
    border-radius: 8px;
    box-shadow: 0 -1px 10px 0 rgb(26 26 26 / 8%), 0 10px 20px 0 rgb(26 26 26 / 12%);
    background-color: white;
    width: 80%;
    max-width: 60.5em;
    /*height: 55%;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#boxsui {
    padding: 1.5%;
}

#boxsui input,
#boxsui select {
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    border: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    height: 40px;
    padding: 0;
}

#boxsui button {
    background-color: rgb(65, 131, 215);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    height: 40px;
    padding: 0;
}

#boxsui label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    margin: 0;
}

#boxsui hr {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgba(0, 0, 0, 0.30);
    border-radius: 3%;
    border: unset;
    border-top: 2px solid;
}

#errmsg {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 150%;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 0, 0, 0.2);
}

#first *,
#second * {
    display: inline;
}

#first button,
#first select {
    width: 20%;
}

#first input {
    width: 59%;
}

#second {
    margin-top: 1.5%;
}

#second #selector {
    width: 10%;
}

#second #amont {
    width: 20%;
}

#second #category {
    width: 48.5%;
}

#second #city {
    width: 20%;
}

#searchbanner {
    display: flex;
    align-items: center;
    top: 60px;
    /*bottom: 0;*/
    position: absolute;
    width: 100%;
    background-image: url("../src/fond.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 400px;
    background-size: 1400px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.50);
}

.ad {
    border-radius: 8px;
    box-shadow: 0 -1px 10px 0 rgb(26 26 26 / 8%), 0 10px 20px 0 rgb(26 26 26 / 12%);
    background-color: rgba(0, 0, 0, 0.02);
    padding: 0.5%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: rgb(65, 131, 215, 0.5);
}

.adspic {
    height: 200px;
    width: 200px;
    object-fit: cover;
    display: inline-block;
    border-radius: 8px;
    margin-right: 20px;
}

.adssb {
    display: inline-block;
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.adsssb {
    margin: 0;
    width: 80%;
}

.form {
    width: 20%;
    height: 100%;
    position: relative;
}

.form * {
    width: 100%;
}

.form .edit {
    top: 25%;
    position: absolute;
}

.form .delete {
    bottom: 25%;
    position: absolute;
}

.form * button {
    background-color: rgb(65, 131, 215);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    height: 40px;
    padding: 0;
}

.form .delete button {
    background-color: rgb(255, 20, 20);
}

.adsssb * {
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.60)
}

.adsssb li span {
    font-weight: bold;
}

.adsssb .date {
    margin-top: 20px;
}

.adsssb .adsname a {
    font-weight: bold;
    font-size: 123%;
    text-decoration: none;
    color: black;
}

.adsssb .adsname a:hover {
    color: rgb(255, 110, 20);
}

#noting {
    border-radius: 8px;
    box-shadow: 0 -1px 10px 0 rgb(26 26 26 / 8%), 0 10px 20px 0 rgb(26 26 26 / 12%);
    background-color: white;
    width: 80%;
    max-width: 60.5em;
    /*height: 55%;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 3.25%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 250%;
}

#adsbanner {
    display: flex;
    align-items: center;
    top: 460px;
    position: absolute;
    width: 100%;
    height: max-content;
    bottom: 0;
    padding: 25px 0 25px 0;
}

#ads {
    width: 70%;
    height: auto;
    /*height: 55%;*/
    /*text-align: center;*/
    margin-left: auto;
    margin-right: auto;
}

#np * {
    width: 49.8%;
    display: inline-block;
    margin: 0;
    text-align: center;
}

#np * a {
    width: 80px;
    border-radius: 10px;
    background-color: rgb(255, 110, 20);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 1.5%;
    text-decoration: none;
}

#np #left {
    float: left;
    margin-left: 20px;
}

#np #right {
    float: right;
    margin-right: 20px;
}